.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuList{
    margin: 4rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.desktopMenuList:hover{
    border-bottom: 2px solid #6545cd;
    padding-bottom: 0.2rem;
    color: #6545cd;
}

.connect-wallet{
    background: #6545cd;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}